body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid white;
}

h1,
#search {
  color: red;
  font-weight: 900;
  margin-left: 10px;
}

input {
  border-radius: 5px;
  width: 200px;
}

.container-film ,
.container-series {
  width: 100%;
  margin-bottom: 100px;
}

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline-block;
}

.filmseries {
  position: relative;
  width: 355px;
  min-height: 510px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 1px solid white; */
  overflow: scroll;

}

.filmseries .poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;;
  height: 100%;
  border-radius: 10px;

}

.retrocard {
padding: 10px;
position: absolute;
top: 0;
left: 0;
}

.flag {
  width: 20px;
  height: auto;
}

.yellow{
  color: yellow;
}

.z-index-1 {
  z-index: 1 ;
}
