body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}

.container-film ,
.container-series {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* overflow: auto; */
  margin-bottom: 100px;
}

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline-block;
}

.filmseries {
  position: relative;
  width: 355px;
  min-height: 510px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.filmseries .poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;;
  height: 513px;
}

.retrocard {
padding: 10px;
position: absolute;
top: 0;
left: 0;
}

.series {
  /* background-color: #81AB3E; */
}

.flag {
  width: 20px;
  height: auto;
}

.yellow{
  color: yellow;
}

.display-none {
  display: none;
}
